<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
        <img src="http://placehold.it/150x50?text=Logo" alt="">
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
<section once="" class="cid-qvbpqoTMWJ" id="footer6-8d" data-rv-view="3664">
  <div class="container">
     <div class="media-container-row align-center mbr-white">
        <div class="col-12">
           <p class="mbr-text mb-0 mbr-fonts-style display-7">
              © Copyright {{year}} 
            </p>
        </div>
     </div>
  </div>
</section>